<div id="<%= dom_id nodehijo %>">
  <p>
    <strong>Title:</strong>
    <%= nodehijo.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= nodehijo.description %>
  </p>

  <p>
    <strong>Papa:</strong>
    <%= nodehijo.papa %>
  </p>

</div>
