<p style="color: green"><%= notice %></p>

<h1>Nodehijos</h1>

<div id="nodehijos">
  <% @nodehijos.each do |nodehijo| %>
    <%= render nodehijo %>
    <p>
      <%= link_to "Show this nodehijo", nodehijo %>
    </p>
  <% end %>
</div>

<%= link_to "New nodehijo", new_nodehijo_path %>
